body {
  background-color: black;
  font-family: 'Courier New', monospace;
  color: #0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.logo {
  font-size: 48px;
  margin-bottom: 20px;
}
.login-form {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.form-field {
  margin-bottom: 10px;
  width: 80%;
  border: none;
  padding: 10px;
  color: #0f0;
  background-color: black;
  border-bottom: 2px solid #0f0;
}
.login-btn {
  background-color: #0f0;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.footer {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.link{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.error-message {
  color: red;
  margin-top: 10px;
}
.logo, .footer {
  margin: auto;
  text-align: center; /* This ensures that the text within these elements is also centered */
}
